ALLOW_USER_LOGIN: true
API_KEY_LENGTH: 20
FILES_PATH: files
INITAL_ID_LENGTH: 4
MAX_API_ADMIN_KEYS: 200
MAX_API_KEYS: 10
MAX_CONTENT_LENGTH: 10000000000
REQUIRE_AUTHENTICATION: true
SECRET_KEY: ReplaceThis
SESSION_COOKIE_HTTPONLY: true
SESSION_COOKIE_SAMESITE: Lax
SESSION_COOKIE_SECURE: true
URL: http://127.0.0.1:5000
VALID_ID_CHARS: acdefhjkmnprtwz1234567890
